.navbar
    padding: 50px
    position: fixed
    left: 0
    right: 0
    z-index: 999
    .link
        margin: 0 20px
        color: #999
        padding-bottom: .3rem
        &.active
            border-bottom: 2px solid #999
