.navbar
    padding: 40px
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 999
    display: flex
    justify-content: center
    flex-wrap: wrap
    .link
        margin: 0 20px
        margin-bottom: 10px
        color: #999
        padding-bottom: .3rem
        &.active
            border-bottom: 2px solid #999
    .slide
        min-height: 40px
    .swiperButton
        position: absolute
        left: 20px
        top: 40px
        transition: .3s all
        width: 30px
        &.swiperNextBtn
            left: auto
            right: 20px
            transform: rotate(180deg)
        &:hover
            opacity: .7
